@media only screen and (min-width: 768px) {
    #navbar {
        float: left;
        display: block;
        margin: auto;
        height: 50vh;
        width: 20%;
        overflow-y: scroll;
    }
    #navbar a{
      display: block;
      color: black;
      border-bottom: solid 1px black;
      height: 3vh;
      text-decoration:none;
      font-size: 20px;
    }
    #main-doc{
        float: right;
        margin: auto;
        width: 78%;
        height: auto;
    }
}

body {
    position: relative;
}
